/* Our Services */

.hover-container {
    background-size: cover;
    background-position: center;
  }
  
.hover-overlay {
    position: relative;
    padding-bottom: 100%;
    color: rgba(255, 255, 255, 0);
    position: relative;
    /* you only need to use relative + absolute if you want to determine the exact aspect ratio of the container */
    transition: all 0.3s;
}

.hover-overlay:hover {
    background-color: rgba(60, 60, 60, 0.7);
    color: white;
}

.hover-inner {
    position: absolute;
    width: 100%;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.hover-innerp {
    margin-bottom: 0;  
}


/* Footer Styles */
footer nav a {
    display:block;
    padding: 0.25rem;
    font-size: 0.9rem;
  }